@using ECommerce.Data.Enums
@model Product

@{
	ViewData["Title"] = $"Edit Product {@Model.Name}";
	var Category = new SelectList(ViewBag.Category, "Id", "Name");
}




<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center mb-4">Edit @Model.Name  Product</h2>

			<form asp-action="Edit">
				<input type="hidden" asp-for="Id" />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" autocomplete="off" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Description" class="control-label"></label>
					<textarea asp-for="Description" class="form-control" rows="3"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>


				<div class="form-group">
					<label asp-for="Price" class="control-label"></label>
					<input asp-for="Price" class="form-control" autocomplete="off" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>


				<div class="form-group">
					<label asp-for="Image" class="control-label"></label>
					<input asp-for="Image" class="form-control" autocomplete="off" />
					<span asp-validation-for="Image" class="text-danger"></span>
				</div>


				<div class="form-group">
					<label asp-for="ProductColor" class="control-label"></label>
					<select asp-for="ProductColor" class="form-control" asp-items="@Html.GetEnumSelectList<ProductColor>()"></select>
					<span asp-validation-for="ProductColor" class="text-danger"></span>
				</div>


				<div class="form-group">
					<label asp-for="Category.Name" class="control-label"></label>
					<select asp-for="CategoryId" class="form-control" asp-items="@Category"></select>
					<span asp-validation-for="CategoryId" class="text-danger"></span>
				</div>


				<div class="col-md-4 offset-4 text-center">
					<img style="width:100%" src="@Model.Image" alt="@Model.Name" id="ImagePreview" />
				</div>

				<div class="form-group d-flex justify-content-between mt-3">
					<a asp-action="Index" class="btn btn-outline-secondary">Show All Category</a>
					<input type="submit" value="Update" class="btn btn-outline-info float-right" />
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}


	<script>
		$("#Image").on("change",function(){
			var Result = document.getElementById("ImagePreview")
			Result.src = $(this).val();
		})
	</script>

}